.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: var(--m4);
  width: 100%;
}

.brands-clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--m4);
  margin-top: var(--m6);
  min-width: 60%;
}

.invoice-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--m4);
}

@media (min-width: 1500px) {
  .brands-clients {
    flex-direction: row;
  }
  .invoice-stats {
    width: 100%;
  }  
}

.dashboard-box {
  display: flex;
  flex-direction: column;
  gap: var(--m2);
  width: 100%;
  height: 35vh;
  min-height: 450px;
  padding: var(--m5);
  background-color: white;
  border-radius: var(--r5);
  padding: var(--m7);
  border: 0.5px solid var(--gray3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.dashboard-box.tables {
  overflow-y: scroll;
  min-width: 44vw;
}

.dashboard-box.piechart {
}

/* DASHBOARD STATS */

.stats-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--m4);
  justify-content: center;
  align-items: flex-start;
}

.dash-stats {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--m4);
}

.dash-stats-box {
  width: 100%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--yellow);
  border-radius: var(--r10);
  padding: var(--m5);
}

.dash-stats-title {
  font-family: "DMSansSemibold";
  font-size: 16px;
}

.stats-tag {
  display: flex;
  align-items: center;
  gap: var(--m2);
  border-radius: var(--r5);
  padding: var(--m1) var(--m2);
  background-color: var(--green);
  color: var(--darkgreen);
}

.stats-tag-negative {
  display: flex;
  align-items: center;
  gap: var(--m2);
  border-radius: var(--r5);
  padding: var(--m1) var(--m2);
  background-color: var(--pink);
  color: var(--darkred);
}

.stats-tag-text {
  font-family: "DMSansLight";
  font-size: 14px;
}

.stats-result {
  font-family: "DMSansRegular";
  font-size: 28px;
}

.stats-footer-text {
  font-family: "DMSansLight";
  font-size: 14px;
  color: var(--gray4);
  letter-spacing: 0.02rem;
}

@media (min-width: 1024px) {
  .dash-stats {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .dash-stats {
   grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* DASHBOARD BRANDS */

.dashboard-title {
  font-family: "DMSansSemiBold";
  font-size: 20px;
  position: absolute;
}

/* Dashboard Table */

#dashboard-table .table-row {
  min-height: 44px;
}

#dashboard-table .table-header {
  border: none;
}

#dashboard-table .table-header-content p,
#dashboard-table .table-header-content-center p {
  font-family: "InterLight", sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--gray4);
}

#dashboard-table .table-row:hover {
  background-color: transparent;
  cursor: pointer;
}

.table-cell-center-full {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 42px;
}

/* PENDING INVOICES*/

.pending-container {
  width: 100%;
  min-width: 429px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.pending-box {
  width: 100%;
  min-width: 429px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--r10);
  padding: var(--m5);
  border: 0.5px solid var(--gray3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
 }

.dash-stats-pending-box {
  width: 100%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--yellow);
  border-radius: var(--r10);
}

.pending-result {
  font-family: "DMSansSemiBold";
  font-size: 28px;
}

.pending-header-text {
  font-family: "DMSansRegular";
  font-size: 14px;
  color: var(--light-steel-blue);
  letter-spacing: 0.02rem;
}

.last-pending {
  display: flex;
  flex-direction: row;
}

.pending-name-text {
  font-family: "DMSansRegular";
  font-size: 12px;
  color: var(--firebrick);
  letter-spacing: 0.02rem;
}

.pending-text {
  font-family: "DMSansLight";
  font-size: 12px;
  color: var(--gray4);
  letter-spacing: 0.02rem;
}

.pending-date-text {
  font-family: "DMSansRegular";
  font-size: 12px;
  color: var(--light-steel-blue);
  letter-spacing: 0.02rem;
}

/* INVOICE CHART*/

.chart-box {
  width: 100%;
  min-width: 429px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--r10);
  padding: var(--m5);
  border: 0.5px solid var(--gray3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  gap: var(--m7);
}

.chart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timeline-text {
  font-family: "DMSansRegular";
  font-size: 12px;
  color: var(--light-steel-blue);
  letter-spacing: 0.02rem;
}

.chart-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Chart Tooltip */

.chart-tooltip {
  background-color: #ffffff;
  padding: 10px;
  border: 0.5px solid #cccccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.chart-tooltip h4 {
  font-family: "InterRegular";
  margin: 0;
  color: #333333;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

.chart-tooltip p {
  font-family: "InterRegular";
  margin: 0;
  font-size: 12px;
  color: var(--gray6);
  letter-spacing: 0.01rem;
}

/* Chart Legend */

.chart-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.legend-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
