/* Main Container */

.main-container {
  width: 100%;
  height: 100vh;
  height: calc(100vh - var(--toolbar-h));
  margin-top: var(--toolbar-h);
  display: flex;
  align-items: flex-end;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: var(--m7) var(--m9);
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .fixed-heading {
    left: var(--sidebar-w);
  }
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100vh;
  width: var(--sidebar-w);
  background: rgb(0, 0, 0);
  color: white;
  border-top-right-radius: var(--r7);
  border-bottom-right-radius: var(--r5);
}

.sidebar a,
.sidebar Link {
  color: white;
}


/* Navigation Links */

.nav-box {
  position: relative;
  padding: var(--m8) var(--m7);
  /* overflow-y: auto; */
  height: calc(100vh - var(--toolbar-h));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid white;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-title {
  margin-bottom: var(--m3);
}

.nav-group {
  display: flex;
  flex-direction: column;
  gap: var(--m3);
  margin-bottom: var(--m6);
}

.invert-icon {
  filter: invert();
}

.navlink-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  border-radius: var(--r7);
  padding: 12px var(--m5);
  font-size: 14px;
}

.navlink-wrap:hover {
  background: var(--gray9);
}

.dropdown-menu {
  display: flex;
  padding: var(--m4) var(--m5);
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-menu.open {
  max-height: 1000px;
  overflow: visible;
}

.dropline-box {
  /* width: 2px; */
  margin-left: 24px;
  margin-top: 6px;
  border-left: 2px solid var(--main);
}



.navlink-wrap img {
  width: 20px;
  margin-right: var(--m2);
}

.active-link,
.active-link:hover {
  background: var(--orange);
  color: white;
}

.droplink-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  border-radius: var(--r7);
  padding: 10px var(--m5);
  font-size: 14px;
}

.drop-active-link,
.drop-active-link:hover {
  background: var(--light-orange2);
  color: black !important;
}

.extra-nav-links p {
  color: var(--nav-font);
}


.dots-button {
  position: absolute;
  right: 24px;
  top: 28px;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  padding: var(--m3);
  border-radius: var(--r1);
  cursor: pointer;
}

.sidebar-image-wrap {
  display: flex;
}



/* Mobile Button */

.mobile-toolbar {
  position: fixed;
  height: var(--toolbar-h);
  top: 0;
  z-index: 35;
  width: 100%;
  display: flex;
}

.mobile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--m1);
  margin-left: var(--m3);
  font-size: 0.875rem;
  color: var(--dark4);
  border-radius: 0.5rem;
  border: none;
}

/* Breadcrumbs */

.breadcrumb-nav {
  position: fixed;
  top: 0;
  left: var(--sidebar-w);
  width: 100%;
  min-height: 110px;

  z-index: 10;
  display: flex;
  align-items: center;
  border-bottom: var(--sborder);
  background-color: white;
}

.breadcrumb-nav.profile {
  position: fixed;
  top: 0;
  left: var(--sidebar-w);
  width: 100%;
  min-height: 110px;

  z-index: 10;
  display: flex;
  align-items: center;
  border-bottom: var(--sborder);
  background-color: white;
  padding-left: var(--m9);
}

.bread-arrow {
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loading Spinner */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 4px solid var(--light-orange2);
  border-top-color: var(--orange);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

.spinner-white {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid var(--orange);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

.spinner-linen {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid var(--white);
  border-top-color: var(--light-orange);
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Settings */

.settings-form-box {
  padding: 0 20px;
  width: 100%;
  max-width: 800px;
}

.section-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--m3);
  margin-bottom: var(--m4);
  padding-top: var(--m5);
  padding-bottom: var(--m3);
  border-bottom: 1px solid #e5e9eb;
  font-family: "DMSansSemiBold"
}

.settings-box .first-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 150px;
}

.settings-box .second-column {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.upload-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--m7);
  text-align: center;
}

.team-table-wrap {
  border: 2px solid var(--gray1);
  border-radius: 15px;
}

.team-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
}

.team-table-cell {
  text-align: center;
  font-family: "DMSansRegular", sans-serif;
  font-size: 14px;
}

.team-table-cell.picture {
  width: 20%;
}

.team-table-cell.name {
  width: 25%;
}

.team-table-cell.lastname {
  width: 25%;
}

.team-table-cell.email {
  width: 30%;
}

.team-table-header {
  background-color: var(--gray1);
  border-radius: 0 0 12px 12px;
  height: 50px;
}

.team-table th,
.team-table td {
  border: none;
}

.team-table-body {
  border-radius: 12px;
}

.manage-account {
  margin-bottom: 50px;
}

.settings-text {
  font-family: "InterRegular";
  font-size: 14px;
}

.track-subtitle {
  font-size: 12px;
}

.track-title {
  font-family: "InterMedium";
}

.margintop30 {
  margin-top: 30px;
}