.table-cell-project {
  text-align: left;
  font-family: "DMSansRegular", sans-serif;
  font-size: 14px;
}

/* Table Pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--m6);
}

.pagination * {
  font-family: "DMSansMedium", sans-serif;
  font-size: 16px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: transparent;
  cursor: not-allowed;
}

.partner-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  background-color: var(--gray1);
}

/* Revenue Campagins Table */